/* CSS Styles */

#header {
	background-color: white;
	height: 60px;
	top: 0;
	left: 0;
	right: 0;
	position: absolute;
	z-index: 1;
}

#header h4 {
	position: relative;
	font-family: Arial;
	font-weight: 100;
	font-size: 13px;
	color: #686868;
	margin-right: 30px; 
	margin-top: 18px;
	word-spacing: 15px;
	text-align: right;
}

#header h4 a:link {
	color: #686868;
	text-decoration: none;
}

#header h4 a:hover {
	text-decoration: underline;
}

#header h4 a:visited {
	color: #686868;
}

#apps-link {
	position: relative;
	display: inline-block;
	top: 3px;
}

form {
	display: inline;
}

#sign-in {
	height: 30px;
	width: 68px;
	border: none;
	border-radius: 3px;
	background-color: #4791FF;
	color: white;
	font-weight: 500;
	font-size: 13px;
	letter-spacing: .5px;
}

.search-whole {
	position: relative;
	top: 190px;
}

#logo {
	width: 272px;
	height: 92px;
	display: block;
	margin: auto;
	margin-bottom: 12px;
	position: relative;
}

#search-bar {
	width: 575px;
	height: 35px;
	margin-bottom: 30px;
	font-size: 18px;
}

#google-search {
	height: 35px;
	width: 138px;
	border: none;
	border-radius: 3px;
	background-color: #F5F5F5;
	color: #686868;
	font-weight: 500;
	font-size: 13px;
	letter-spacing: .5px;
	margin-right: 3px;
}

#google-search:hover {
	border: 1px solid #E0E0E0;
	color: black;
}

#feeling-lucky {
	height: 35px;
	width: 138px;
	border: none;
	border-radius: 3px;
	background-color: #F5F5F5;
	color: #686868;
	font-weight: 500;
	font-size: 13px;
	letter-spacing: .5px;
	margin-left: 3px;
}

#feeling-lucky:hover {
	border: 1px solid #E0E0E0;
	color: black
}

#footer {
	background-color: #F5F5F5;
	height: 40px;
	left: 0;
	right: 0;
	border-top: 1px solid #E0E0E0;
	bottom: 0;
	position: absolute;
}

#footer p {
	color: #686868;
	font-family: Arial;
	font-weight: 500;
	font-size: .8em;
	/*line-height: .5;*/
	top: auto;
	bottom: auto;
	margin-right: 30px;
	margin-left: 30px;
	word-spacing: 30px;
}

#footer p a:link {
	color: #686868;
	text-decoration: none;
}

#footer p a:hover {
	text-decoration: underline;
}

#footer p a:visited {
	color: #686868;
}